@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}

<head>
<link rel="stylesheet" href="~/css/listUsuario.css" />
    <h1>Listado de Usuario</h1>
    <table class="table" style="width:50%;">
        @* <thead>
            <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            </tr>
            </thead> *@

        @foreach (var usuario in Model.Usuario)
        {
            <td>
                <div id="card" class="card" style="width: 18rem;
                border-radius: 30px;
                margin-top:30px;">
                    <img src="https://cdn-icons-png.flaticon.com/512/47/47769.png" class="card-img-top" alt="..." style="height: 150px;
                        width: 150px;
                        margin-top:30px;
                        margin-left:70px;">
                    <div class="card-body justify-content-center">

                        <div class="form-outline mb-4">
                            <label for="id" class="form-label"><a>ID: @usuario.id</a></label>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="nombre" class="form-label"><a>Nombre: @usuario.nombre @usuario.apellidos</a></label>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="direccion" class="form-label"><a>Direccion: @usuario.direccion</a></label>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="telefono" class="form-label"><a>Telefono: @usuario.telefono</a></label>
                        </div>

                        <div class="form-outline mb-4">
                            
                                    <a id="btnVer"class="btn btn-info" asp-page="./Details"
                                    asp-route-usuarioId="@usuario.id">Ver</a>
                                
                                    <a id="btnEditar" class="btn btn-info" id="btn_editar"
                                    asp-page="./Edit" asp-route-usuarioId="@usuario.id">Editar</a>
                                
                                    <a id="btnEliminar"class="btn btn-info" id="btn_editar"
                                    asp-page="./Delete" asp-route-usuarioId="@usuario.id">Eliminar</a>
                        </div>

                    </div>
                </div>


            </td>
        }
    </table>
</head>